<!-- <div>
  <input type="text" [(ngModel)]="term">
<div *ngFor="let employee of employees |filter:term | paginate: { itemsPerPage: 10, currentPage: p };let i=index">
  <span>{{employee.id}}</span>
 <span>{{employee.name}}</span>
 

 <span><a href="#" (click)="deleteEmpRecord(i)"> delete</a> </span>
 <span><a href="#" (click)="EditEmpRecord(employee.id)"> edit</a> </span>
 
</div>
</div>
<pagination-controls (pageChange)="p = $event"></pagination-controls>

<form [formGroup]="empForm">
<input type="number" formControlName="id"> 
<input type="text" formControlName="name"> -->
<!-- <select name="" id="" formControlName="selected">
  <option [value]="emp.address" *ngFor="let emp of employees">{{emp.address}}</option>
</select> -->
<ng-multiselect-dropdown
  [placeholder]="'custom placeholder'"
  [settings]="dropdownSettings"
  [data]="dropdownList"
  [(ngModel)]="selectedItems"
  (onSelect)="onItemSelect($event)"
  (onSelectAll)="onSelectAll($event)"
  (onDeSelect)="onItemDeSelect($event)"
>
</ng-multiselect-dropdown>
<!-- <button type="submit" (click)=" addEmpDetails()">add</button>
</form>

<table class="table table-bordered table-hover"> -->
  <!-- <thead>
    <tr>
      <th>#</th>
      <th [appSort]="employees" data-order="desc" data-name="id">Field 1</th>
      <th [appSort]="employees" data-order="desc" data-name="name">Field 2</th>
      <th [appSort]="employees" data-order="desc" data-name="age">Field 3</th>
    </tr>
  </thead> -->
  <!-- <tbody *ngFor="let employee of employees">
    <tr>
      <td> <span>{{employee.id}}</span>
      </td>
      <td> <span>{{employee.name}}</span></td>
      <p>{{this.service.userid}}</p>

     
    </tr>

  </tbody>
</table> -->